extends ../layouts/main-layout.pug 
block content
  main
      if prods.length > 0 
        .grid
          each product in prods
            article.card.product-item
              header.card__header
                h1.product__title #{product.title}
              .card__image
                img(src=('/' + product.imageUrl) , alt=product.title)
              .card__content
                  h2.product__price #{product.price}
                  p.product__description #{product.description}
              .card__actions
                  a.btn(href="/admin/edit-product" + product._id + "?edit=true" ) Edit
                  //- form(action="/admin/delete-product", method="post")
                  input(type="hidden", name="productId" , value=product._id)
                  input(type="hidden", name="_csrf", value=csrfToken)
                  button.btn(type='button',onclick="deleteProduct(this)") Delete
        include ../includes/pagination.pug
      else
          h1 No Products
      script(src="https://unpkg.com/axios/dist/axios.min.js")
      script(src="/js/admin.js")
